*{
    padding: 0; 
	margin : 0;
	
}


.back{
       background-image:url("خلفية.png");
	   width: 100%;
	   height: 100%;
	   background-repeat: no-repeat;
	   background-size: cover;
	   
	  
}

.email{
    position:relative;
	top:55px;
	border-box:none ;
	background:none;
	color:white;
	border-radius:7px;
	outline:none;
	border:none ;
	height:30px;
	width :260px;
	border-bottom:2px solid white;

}

.password{
	position:relative;
	top:66px;
	border-box:none ;
	background:none;
	color:white;
	border-radius:7px;
	outline:none;
	border:none ;
	height:30px;
	width :260px;
	border-bottom:2px solid white;

}




.log {
    background: rgba(255, 255, 255, 0.10);	
	line-height:25px;
	text-align:center;
	width: 25%;
	height:75%;
	position:relative;
	top:75px;
	left:800px ;
	border-radius:15px;
	border:none ;
	
	
}

.instagram{
	font-family:Script MT ;
	color:white;
	position:relative;
	top:20px;

}
.loginb{
	color:white;
	background:#DD0844;
	width:239px;
	height:29px;
	margin:15px;
	border: 0;
	position:absolute;
	top:166px;
	left:33px;
	border-radius:7px;
	transition:0.4s ease;
	

	
}
.loginb:hover{
	 background:black;
	 color:#DD0844	;
	 

}
           

.or {
	color:white;
    position:relative;
	top:150px;
	font-size:17px;
	
	
	
	

}

.logface {
	color:##0000FF	;
	font-size:18px;
	font-family:Arial;
	position:absolute;
	bottom:133px;
	left:90px;
	text-decoration:none;
	width:190px;
	
	
	
}



.logoface{
    position:absolute;
    right:224px;
	top:275px;


}


.forget{
	color:#FF0088	;
	position:absolute;
	top:374px;
	left:109px;
	font-size:15px;	
	text-shadow:1px 1px 0px black;
	text-decoration:none;

	

}

.logo{
	position:absolute;
	bottom:120px;
	left:160px;
	
	
}
::placeholder {
    color: white;
    opacity:0.6;
	

	
}
    

    